@charset "UTF-08";

@font-face {
    font-family: 'arabe';
    src: url(Tangerine-Regular.ttf);
}


body{
    background-color: #faa733;
    margin: 0px;

}
header{
    background-color: white;
    padding-left: 10px;
    margin-bottom: 10px;
}
header > h1{
    margin: 0px;
    text-align: center;
    padding-top: 7px;
    color: #B8141F;
    font-family: 'arabe', 'Times New Roman', Times, serif;
}
.textos{
    background-color: white;
    width: 47%;
    margin: auto;
    padding: 1px 20px;
}
.ultimo{
    background-color: white;
    width: 47%;
    margin: auto;
    border-radius:0px 0px 12px 12px;
    padding: 1px 20px;
}
p{
    font-size: 20px;
    font-weight: bold;
}
img{
    margin: auto;
    display: block;
    width: 51%;
}
footer{
    background-color: white;
    text-align: center;
}
footer>p#rodape{
    margin-bottom: 0px;
    font-weight: normal;
}
