@charset "UTF-08";

@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');

body{
    background-color: #FAA632;
    background-image: url(../imagens/legal.png);
    margin: 0px;
    position: relative;
}
section{
    background-color: white;
    border-radius: 20px;
    max-width: 316px ;
    min-width: 200;
    margin: 90px 40px ;
    padding: 20px 10px;
}
div.caixa{
    background-color: #c9000074;
    margin: 10px 10px ;
    width: 50%;
    padding: 5px;
    border-radius: 10px; ;
}
div.caixa>input{
    display: block;
    width: 80%;
    margin: auto;
}
p{
    margin: 0px;
    padding: 10px;
    font-weight: 500;
    font-size: 20px;
}

footer{
    background-color: white;
    text-align: center;
    padding: 3.3px;
}