@charset "UTF-08";

@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');


body{
    background-color: #faa733;
    margin: 0px;

}
header{
    background-color: white;
    padding-left: 10px;
    margin-bottom: 10px;
}
header > h1{
    margin: 0px;
    text-align: center;
    padding-top: 7px;
    color: #B8141F;
    font-family: 'Tangerine', cursive;
}
.textos{
    background-color: white;
    width: 43%;
    margin: auto;
    border-radius:20px;
    padding: 1px 20px;
}
p{
    font-size: 20px;
    font-weight: bold;
}
img{
    margin: auto;
    display: block;
    width: 100%;
    padding-bottom: 20px;
    position: fixed;
}
div#imagem{
    background-image: url(imagens/essa.jpg);
}