@charset "UTF-08";

@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');

body{
    background-color: #FAA632;
    margin: 0px;
}
header{
    background-color: white;
    font-family: 'Tangerine', cursive;
}
main{
    box-shadow: 2px 2px 2px black;
}

header>h1{
    color: #c90000;
    text-align: center;
    margin: 0px;
}
div{
    margin: 0px auto ;
    background: white;
    width: 60%;
    box-shadow: 2px 2px 19px rgba(0, 0, 0, 0.097);
}
p{
    margin: 0px;
    padding: 10px;
    font-weight: 500;
    font-size: 20px;
}
div#post>a{
    padding-left: 10px;
    text-decoration: none;

}
div#post{
    border-top: 2px solid rgba(0, 0, 0, 0.11);
    border-bottom: 2px solid rgba(0, 0, 0, 0.158);
    position: relative;
}
div#post>img{
    width: 97%;
    display: block;
    margin: auto;
}
div#post>img#coração{
    width: 5%;
    display: inline;
    background-color: red;
    position: absolute;
    left: 94%;
    
}
div#post>img#coração:clic
div#ultimo{
    border-radius: 0px 0px 20px 20px;

}

div#ultimo>div>a{
    text-decoration: none;
    background-color: cornflowerblue;
    color: black;
    display: block;
    text-align: center;
    border-radius: 10px;
    margin: 6px auto ;
    width: 90%;
}
div#ultimo>div>a:hover{
    background-color:rgb(62, 93, 151) ;
}
footer{
    background-color: white;
    text-align: center;
    margin-top: 20px;
}